{% extends "base.html" %}
{% block title %}Erreur{% endblock %}
{% block content %}
        
    <!-- simple form that takes the new password of the user and then the confirm and submit-->
    <form action="/new_password" method="post">
        <h1>Changer votre mot de passe</h1>
        <label for="numero_etudiant"> numero_etudiant</label>
        <input type="numero_etudiant" id="numero_etudiant" name="numero_etudiant" required>
        <label for="new_password">Nouveau mot de passe</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe" required>
        <label for="confirm_password">Confirmer le mot de passe</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <input type="submit" value="Changer de mot de passe" class="form-button">
    </form>

{% endblock %}

<!-- java script for cross validation -->
{% block javascript %}
    <script>
        // Get the input field
        var password = document.getElementById("mot_de_passe");
        var confirm_password = document.getElementById("confirm_password");

        // disable the submit button
        document.getElementById("submit").disabled = true;

        // when user start typing in the confirm password field
        confirm_password.onkeyup = function() {
            // if the password and confirm password match
            if (password.value == confirm_password.value) {
                // remove the error message
                document.getElementById("error").innerHTML = "";
                // enable the submit button
                document.getElementById("submit").disabled = false;
            } else {
                // if the password and confirm password don't match
                // display the error message
                document.getElementById("error").innerHTML = "Les mots de passe ne correspondent pas";
                // disable the submit button
                document.getElementById("submit").disabled = true;
            }
        }

        

    </script>
{% endblock %}